body {
    width: 980px;
    margin: 0 auto;
}

header {
    width: 100%;
    height: 150px;
    background: blue;
    position: relative;
    margin-bottom: 1em;
}

nav {
    width: 100%;
    height: 80px;
    background: cyan;
    margin-bottom: 1em;
}

article {
    width: 65%;
    min-height: 400px;
    background: green;
    float: right;
    margin-bottom: 1em;
}

aside {
    width: 30%;
    min-height: 400px;
    background: yellow;
    float: left;
}

footer {
    width: 100%;
    height: 60px;
    background: red;
    clear: both;
    /*margin-top: 1em;*/
}

.logo {
    width: 80px;
    height: 50px;
    background: gray;
    position: absolute;
    top: 20px;
    left: 20px;
}