body {
  width: 980px;
  margin: 0 auto; }

header {
  width: 100%;
  height: 150px;
  background: blue;
  position: relative;
  margin-bottom: 1em;
  color: white; }

nav {
  width: 100%;
  height: 80px;
  background: cyan;
  margin-bottom: 1em; }

article {
  width: 65%;
  min-height: 400px;
  background: green;
  float: right;
  margin-bottom: 1em; }

aside {
  width: 30%;
  min-height: 400px;
  background: yellow;
  float: left; }

footer {
  width: 100%;
  height: 60px;
  background: red;
  clear: both;
  /*margin-top: 1em;*/ }

.logo {
  width: 80px;
  height: 50px;
  background: gray;
  position: absolute;
  top: 20px;
  left: 20px; }

header .title {
  position: absolute;
  top: 30px;
  left: 300px; }

header .main-title {
  font-size: 2em; }

header .sub-title {
  font-size: 1.4em; }

/*nav ul {
    margin-left: 5px;
}*/
nav li {
  list-style-type: none;
  margin-top: 1em;
  margin-right: 5px;
  float: left; }

nav li a {
  background: white;
  padding: 5px 20px;
  text-decoration: none; }

nav li a:hover {
  text-decoration: none;
  background: lightblue;
  color: white; }

footer div {
  color: white;
  margin: 1em 20px;
  float: right; }
