$font-stack: Helvetica,
sans-serif;
$primary-color: #333;

body {
  color: $primary-color;
  font: 100% $font-stack;
  margin: 0 auto;
  width: 980px;
}

header {
  background: blue;
  color: white;
  height: 150px;
  margin-bottom: 1em;
  position: relative;
  width: 100%;

  .title {
    left: 300px;
    position: absolute;
    top: 30px;
  }

  .main-title {
    font-size: 2em;
  }

  .sub-title {
    font-size: 1.4em;
  }
}

nav {
  background: cyan;
  height: 80px;
  margin-bottom: 1em;
  width: 100%;

  li {
    float: left;
    list-style-type: none;
    margin-right: 5px;
    margin-top: 1em;

    a {
      background: white;
      padding: 5px 20px;
      text-decoration: none;
    }

    a:hover {
      background: lightblue;
      color: white;
      text-decoration: none;
    }
  }
}

article {
  background: green;
  float: right;
  margin-bottom: 1em;
  min-height: 400px;
  width: 65%;
}

aside {
  background: yellow;
  float: left;
  min-height: 400px;
  width: 30%;
}

footer {
  background: red;
  clear: both;
  height: 60px;
  width: 100%;
  //margin-top: 1em;

  div {
    color: white;
    float: right;
    margin: 1em 20px;
  }
}

.logo {
  background: gray;
  height: 50px;
  left: 20px;
  position: absolute;
  top: 20px;
  width: 80px;
}

// nav ul {
//     margin-left: 5px;
// }
